{% extends 'base.html.twig' %}

{% block title %}CinéCritique{% endblock %}

{% block body %}
<div class="container">
    <h2>Bienvenue sur CinéCritique</h2>
    <a href="{{ path ('app_articles') }}" class="btn">Voir les articles</a>
</div>
{% endblock %}
