{% extends 'base.html.twig' %}

{% block content %}
    <section class="hero">
        <h2>Bienvenue sur le Wiki Symfony</h2>
        <p>Ce wiki est une ressource collaborative pour tout ce qui concerne Symfony.</p>
        <a href="#" class="btn">Voir les articles</a> <!-- Lien vers la liste des articles -->
    </section>
{% endblock %}