{% extends 'base.html.twig' %}

{% block title %}Blog Films{% endblock %}

{% block body %}
    <section class="hero">
        <h2>Bienvenue sur le Blog Films</h2>
        <a href="{{ path ('app_articles') }}" class="btn">Voir les articles</a>
    </section>
{% endblock %}