{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container articles-list">
        <h1>Liste des Articles</h1>
        {% for articles in article %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ articles.titre }}</h2>
                    <p class="card-text">{{ articles.description|slice(0, 150) ~ '...' }}</p>
                    <a href="{{ path ('articles_show', {id: articles.id})}}" class="card-link">Lire article</a>
                </div>
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
