{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-5 container">
        <h1>Liste des Articles</h1>
        
        {% for articles in article %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ articles.titre }}</h2>
                    <p class="card-text">{{ articles.description }}</p>
                </div>
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
        
    </section>test 3
{% endblock %}
