{% extends 'base.html.twig' %}

{% block title %}Editer Article{% endblock %}

{% block body %}
    <section class="py-5 container article-edit">
        <h1>Modifier un article</h1>
        {{ form_start(formArticle) }}
            {{ form_row(formArticle.titre) }}
            {{ form_row(formArticle.description) }}
            <input type="submit" value="Enregistrer les modifications" class="btn btn-sm btn-primary">
        {{ form_end(formArticle) }}
    </section>
{% endblock %}
