{% extends 'base.html.twig' %}

{% block title %}CinéCritique{% endblock %}

{% block body %}
    <section class="hero">
        <h1>Conditions d'utilisation</h1>
        <p>
            En utilisant ce site, vous acceptez les conditions suivantes :<br><br>
            Ce site respecte les droits légaux et s'engage à protéger les informations personnelles des utilisateurs conformément aux lois en vigueur.<br>
            Nous utilisons des cookies pour améliorer votre expérience sur notre site.<br>
            Nous collectons des données pour mieux comprendre nos utilisateurs et améliorer nos services. Les données collectées incluent des informations telles que votre nom, prénom et adresse mail.<br>
            Les données collectées sont utilisées pour améliorer notre site et nos services, et ne seront pas partagées avec des tiers sans votre consentement, sauf si la loi l'exige.<br>
            Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications seront publiées sur cette page et entreront en vigueur immédiatement.<br>
            Si vous avez des questions concernant ces conditions, veuillez nous contacter à l'adresse suivante : [votre email].<br>
        </p>
    </section>
{% endblock %}
