{% extends 'base.html.twig' %}

{% block title %}CinéCritique{% endblock %}

{% block body %}
    <h2>Conditions d'utilisation</h2>
    <p>En utilisant ce site, vous acceptez les conditions suivantes :</p>
    <ul>
        <li>Ce site respecte les droits légaux et s'engage à protéger les informations personnelles des utilisateurs conformément aux lois en vigueur.</li>
        <li>Nous utilisons des cookies pour améliorer votre expérience sur notre site.</li>
        <li>Nous collectons des données pour mieux comprendre nos utilisateurs et améliorer nos services. Les données collectées incluent des informations telles que votre nom, prénom et adresse mail.</li>
        <li>Les données collectées sont utilisées pour améliorer notre site et nos services, et ne seront pas partagées avec des tiers sans votre consentement, sauf si la loi l'exige.</li>
        <li>Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications seront publiées sur cette page et entreront en vigueur immédiatement.</li>
    </ul>
    <p>Si vous avez des questions concernant ces conditions, veuillez nous contacter à l'adresse suivante : <a href="mailto:votre@email.com">votre@email.com</a>.</p>
{% endblock %}
