{% extends 'base.html.twig' %}

{% block title %}CinéCritique{% endblock %}

{% block body %}
    <h2 class="profile-title">Gestion du profil</h2>

    {% if user is not empty %}
        <div class="profile-cards">
            {% for users in user %}
                <div class="profile-card">
                    <h3>{{ users.nom }} {{ users.prenom }}</h3>
                    <!-- Tu peux ajouter d'autres informations ici si nécessaire -->
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun utilisateur trouvé.</p>
    {% endif %}
{% endblock %}
