{% extends 'base.html.twig' %}

{% block title %}CinéCritique{% endblock %}

{% block body %}
    <section class="hero">
        <h2>Gestion du profil</h2>

        {% if user is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for users in user %}
                        <tr>
                            <td>{{ users.nom }}</td>
                            <td>{{ users.prenom }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun utilisateur trouvé.</p>
        {% endif %}
    </section>
{% endblock %}